<header></header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
</header>