<aside class="sidebar"></aside>
    <ul>
        <li><a href="/admin/users">Gestionar Usuarios</a></li>
        <li><a href="/admin/products">Gestionar Productos</a></li>
        <li><a href="/admin/sales">Gestionar Ventas</a></li>
        <li><a href="/admin/licenses">Gestionar Licencias</a></li>
    </ul>
</aside>